:root {
    --link-color: #ffff;
}
.global-header {
    background-color: #333;
}

.global-header .main-navigation a,.global-header .main-navigation a:visited
 {
    color:#ffff
}

a,a:visited {
    color:#ffff
}

.global-header .main-navigation a.active
{
    color:red;
}